PORT=4000
API_DEPOT_URL=https://plateforme-bal.adresse.data.gouv.fr/api-depot
API_MOISSONNEUR_URL=https://plateforme-bal.adresse.data.gouv.fr/moissonneur

SMTP_HOST=localhost
SMTP_PORT=1025
SMTP_SECURE=NO
SMTP_USER=MAILHOG
SMTP_PASS=MAILHOG
SMTP_FROM=test@test.com
SMTP_BCC=